@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 22px;
}

.home-title {
    font-family: Merriweather, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.social img {
    width: 70px;
    padding-top: 15px;
}

nav a {
    padding: 35px;
}

nav a, #hero,.button-box, main {
    text-align: center;
}

nav a, .book {
    background-color: #669BBC;
    color: black;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover, .book:hover, .join:hover {
    background-color: #003049;
    color: white;
}

.book, .join { 
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join {
    background-color: #003049;
    color: black;
    font-size: 18px;
    text-decoration: none;
    color: #FDF0D5;
    margin: 15px;
}

.join:hover {
    color: #003049;
    background-color: white;
}

#background{
    height: 725px;
    background-color: #003049;
}

body {
    background-color: #669BBC;
    margin: 0;
    padding: 0;
}

.msg {
    color: white;
    background-color: #003049;
    padding: 35px;    
    line-height: 1.5em;   
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #003049;
    color: white;
    font-size: 20px;
    color: #FDF0D5;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 15px;    
}

footer p {
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 15px;
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.logo {
    width: 80px;
    padding: 15px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

h2 {
    margin: 0;
}

#logo_link {  
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card { 
    margin: 200px 0;
}

.card-img {
    box-sizing: border-box;
    border: 10px solid black;
}


